[class*=scrollerBase-] {
    &::-webkit-scrollbar-thumb {
        border: 3px solid rgba(0, 0, 0, 0.2);
        background: rgba($color: #fff, $alpha: .1);
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

[class*=chat-] [class*=scrollerBase-] {
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: rgba($color: #fff, $alpha: .1);
    }
}